
<!DOCTYPE html>
<html>
<title> style.css </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body,h1 {height: 100%}
.bgimg {
    background-image:url(https://images.pexels.com/photos/1308624/pexels-photo-1308624.jpeg?cs=srgb&dl=4k-wallpaper-architecture-background-1308624.jpg&fm=jpg)
    min-height: 100%;
    background-position:center;
    background size :cover;
    }

table {
    border-collapse: collapse;
}

table, th, td {
    border: 15px;
    text-align: left;
}

tr:nth-child(even) {background-color: #f2f2f2;}
table {
    border: 1px solid black;
}
</style>
<body>

    
